@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Start To Bike</h1>
    <div class="d-flex justify-content-center">
        <div>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Login", "Users")'">Login</button>
            <hr />
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Register", "Users")'">Register</button>
        </div>
    </div>
</div>
